body {
    padding-left: 10px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	//font-family: Times New Roman,Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-size: 10pt;
}

h4 {
	border-bottom:1px solid #CDCDCD;
	display:block;
	margin-top:20px;
	margin-bottom:15px;
	padding:10px 0 0px;
}

h1 {
	margin-bottom: -20px;
}

h5 {
	border-bottom:1px solid #BBBBBB;
	display:block;
	padding:0 0 2px;
}
